.main {
  width: 100%;
  height: 100%;
  background-color: rgb(33, 141, 243);
}

.home {
  width: 100vw;
  height: 100vh;
  color: #171616;
  background-color: rgb(33, 141, 243);
}

.home h1 {
  padding: 20px;
}
